.pangEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pang {
    margin-bottom: 40px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8),
        1px 1px 2px rgba(255, 255, 255, 0.7);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation: fadeInOut ease 9s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        top: -50px;
    }
    10%,
    80% {
        top: 0px;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.pang:hover {
    transform: scale(1.01);
    box-shadow: 5px 8px 16px rgba(255, 255, 255, 0.8),
        5px 5px 5px rgba(255, 255, 255, 1);
}

.pang h4 {
    font-size: 14px;
}

.pang img {
    right: -10px;
    top: 15px;
    position: absolute;
    border-radius: 10px;
    width: auto;
    height: 60px;
    margin-top: 10px;
}

.pang__actions {
    position: absolute;
    right: 20px;
    top: 8px;
}

.pang__actions span {
    cursor: pointer;
}

.pang__actions span:first-child {
    margin-right: 10px;
}
