.pangEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pang {
    margin-bottom: 40px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

.pang h4 {
    font-size: 14px;
}

.pang img {
    right: -10px;
    top: 15px;
    position: absolute;
    border-radius: 10px;
    width: auto;
    height: 60px;
    margin-top: 10px;
}

.pang__actions {
    position: absolute;
    right: 20px;
    top: 8px;
}

.pang__actions span {
    cursor: pointer;
}

.pang__actions span:first-child {
    margin-right: 10px;
}
